.env
.credentials.*
Tutorials/node_modules
Tutorials/cli_calculator/node_modules
Tutorials/TypeScript/node_modules
Tutorials/Task Manager/node_modules
Tutorials/meadowlark/node_modules
Model Playground/node_modules
Store API/node_modules
Social Media Backend/node_modules
Jobs API/node_modules