<h2>
    Your file is available for download
</h2>



<form action="/download"  method="POST">
<button type="submit"> Download </button>

</form>


<!--
<button type="button" class="btn btn-primary" download="file.pdf">
  <a href={{{downloadfile}}}> Download File </a>
</button> -->