<h2> JPG to PDF </h2>
<p> 
    Convert JPG images to PDF in seconds. Easily adjust orientation and margins.
</p>

<form action="/jpg_to_pdf" method="post"  multiple = "multiple"enctype = "multipart/form-data">
<input type="file" name="files"/> <br>

<input type="submit">
</form>
