<h2> Word to PDF </h2>
<p> 
    Convert Word Documents to PDF in seconds. 
</p>

<form action="/word_to_pdf" method="post" enctype = "multipart/form-data">
<input type="file" name="file"/> <br>

<input type="submit">
</form>