@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

nav{
    text-align: center;
}

.listing{
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
    cursor: default;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}


a{
    text-decoration: none;
    color:#333;
    display: block;
}

li a:hover{
    color: whitesmoke;
    opacity: 0.8;
    background-color: #333;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
